.forecast-days {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: wrap;
}

.forecast-day {
    border: 1px solid black;
    background-color: #ccc;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 170px;
    margin: 20px;
}

@media screen and (max-width: 500px) {
    .forecast-day {
        min-width: 250px;
    }

    #forecast-title {
        text-align: center;
    }
}